/**
 * @file index.css
 * @author swan
 */

.logo {
    width: 375rpx;
    height: 60rpx;
    background-image: url("../../images/smartapp.png");
    background-size: 375rpx;
    margin: 100rpx auto;
}

.button {
    width: 300rpx;
    height: 100rpx;
    line-height: 100rpx;
    text-align: center;
    border: 1px solid black;
    /* margin-top: 30rpx; */
    margin: 30rpx auto;
}
